pangeo:
  jupyterhub:
    proxy:
    #   https:
    #     hosts:
    #       - staging.ocean.pangeo.io
    #     letsencrypt:
    #       contactEmail: raphael.dussin@gmail.com
      service:
        loadBalancerIP: 34.69.173.244
    hub:
      resources:
        requests:
          cpu: "0.1"
          memory: 0.25Gi
        limits:
          cpu: "0.1"
          memory: 0.25Gi
      services:
        dask-gateway:
          # This makes the gateway available at ${HUB_URL}/services/dask-gateway
          url: "http://traefik-us-central1b-staging-dask-gateway.staging"

    scheduling:
      userScheduler:
        enabled: false
    singleuser:
      extraEnv:
        # TODO: DNS
        DASK_GATEWAY__ADDRESS: "http://34.69.173.244/services/dask-gateway/"
        DASK_GATEWAY__PROXY_ADDRESS: "gateway://traefik-us-central1b-staging-dask-gateway.staging:80"
